body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* For header */
.header {
    height: 14vh;
    padding: 5px 125px;
    box-shadow: 0px 0px 10px;
    border-bottom: 1px solid #F5F5F5;
}

.header-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 700px;
    width: 100%;
}

.header-top {
    display: flex;
    width: 100%;
    height: 50%;
    line-height: 7vh;
}

.header-top-left {
    min-width: 36px;
    margin-right: 45px;
    padding-top: 5px;
}

.header-top-right {
    width: 100%;
}

.header-search {
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    border: 0;
    background-color: #F5F5F5;
    padding-left: 15px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    height: 50%;
    line-height: 7vh;
    /* text-align: center; */
}

.header-bottom-left {
    display: flex;
    font-weight: bold;
}

.header-bottom-left-item {
    margin-right: 30px;
}

.header-bottom-left-item a i {
    color: #EB352D;
    margin-right: 3px;

}

.header-link {
    text-decoration: none;
    color: #222222;
}

.header-bottom-right {
    display: flex;
}

.header-bottom-right-item a i {
    margin-right: 3px;
}

.header-bottom-right-item {
    margin-left: 30px;
}



/* For buttons */
.red-button {
    background-color: #EA342D;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}

.grey-button {
    background-color: #AAAAAA;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}